.body {
  background: #121517;
  margin: 0px;
}

.header {
  margin-top: 48px;
}

.nav {
  display: flex;
}

.a_none {
  text-decoration: none;
}

.logo {
  width: 195px;
  margin-right: 94px;
}

.StarBucks_Logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 37px;
  line-height: 109%;
  letter-spacing: -0.03em;
  background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: 1294px;
  margin: 0px auto;
}

.ul_block {
  width: 360px;
  display: flex;
  align-items: center;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #d9d9d9;
  padding: 0px;
}

.a_block {
  color: #d9d9d9;
  transition: 0.5s;
}

.a_block:hover {
  color: rgba(217, 217, 217, 0.5882352941);
}

.li_block {
  margin-right: 94px;
}

.block_OurNewEvents {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0px 0px 54px 0px;
}

.p_OurNewEvents {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #d9d9d9;
}

.Block_p_OurNewEvents {
  width: 457px;
  margin-right: 72px;
}

.OurNewEvents_block {
  width: 366px;
}

.H2_Our_New {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: #fff;
  margin: 0px;
}

.Events_span {
  background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block_img_One {
  display: flex;
}

.img_block1 {
  border-radius: 30px;
  width: 614px;
  height: 260px;
}

.margenBlockRight {
  margin-right: 24px;
}

.Slaid_TWO {
  width: 100%;
  border-radius: 30px;
}

.TwoCoffe {
  width: 230px;
  height: 188px;
  bottom: 230px;
  position: relative;
  left: 27px;
  z-index: 9;
}

.P_TWO_COFFEE {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  color: #fff;
  margin-bottom: 44px;
}

.btn_More {
  cursor: pointer;
  width: 167px;
  height: 74px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: -0.03em;
  color: #d9d9d9;
  background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
  border: none;
  border-radius: 83px;
}

.btn_More:hover {
  background: linear-gradient(245deg, rgba(35, 114, 73, 0.8431372549) 0%, #35c66a 100%);
}

.block_imgOne {
  display: flex;
  margin-bottom: 24px;
}

.P_TWO_COFFEE_Two {
  margin: 0px 0px 41px 0px;
  width: 294px;
  height: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  color: #fff;
}

.block_img06 {
  width: 730px;
  height: 304px;
  position: absolute;
  left: -222px;
}

.slaid01_block {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.p_New_Our {
  padding-left: 72px;
  width: 457px;
}

.block_Cofffe {
  margin-right: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 29px;
  width: 277px;
  height: 554px;
  border: 1px solid #6f7274;
}

.imgSlaid06 {
  position: relative;
  bottom: 140px;
  width: 100%;
  z-index: 9;
}

.imgSlaid02 {
  position: relative;
  bottom: 140px;
  width: 320px;
  right: 40px;
  z-index: 9;
}

.Opisanie_block {
  display: flex;
  height: 300px;
  flex-direction: column;
  align-items: center;
  width: 216px;
}

.h2_Fast {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #fff;
  margin: 0px;
}

.Fast_p {
  margin: 13px 0px 12px 0px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #d9d9d9;
}

.spanCountre {
  margin-right: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #fff;
}

.spam_ml {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #d9d9d9;
}

.Span_counre_ml {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_blocl_coffe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 241px;
}

.btn_BuyProduct {
  border: none;
  margin-top: 30px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 639;
  font-size: 17px;
  line-height: 146%;
  letter-spacing: -0.02em;
  color: #fff;
  border-radius: 60px;
  width: 186px;
  height: 54px;
  background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
}

.btn_BuyProduct:hover {
  background: linear-gradient(210deg, rgba(35, 114, 73, 0.8352941176) 0%, rgba(53, 198, 106, 0.862745098) 100%);
}

.imgSlaid_Kryg {
  width: 290px;
  height: 290px;
  position: relative;
  top: 160px;
  right: 22px;
}

.four_block {
  display: flex;
}

.section_slaid01 {
  margin-bottom: 97px;
}

.imgSlaid_Kryg02 {
  width: 290px;
  height: 290px;
  position: relative;
  top: 180px;
  right: 22px;
}

.main {
  margin-top: 80px;
}

.One_block {
  width: 574px;
  height: 605px;
  margin-bottom: 112px;
}

.mainNew_Cafe {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: #fff;
  margin: 0px 0px 54px 0px;
}

.StarBucks_span {
  background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_p {
  margin: 0px 0px 54px 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #d9d9d9;
}

.block_two_btn {
  display: flex;
}

.Select_btn {
  margin-right: 17px;
  cursor: pointer;
  border: none;
  border-radius: 83px;
  width: 333px;
  height: 74px;
  font-family: "Montserrat", sans-serif;
  font-weight: 639;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: -0.02em;
  color: #fff;
  background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
}

.Select_btn:hover {
  background: linear-gradient(210deg, rgba(35, 114, 73, 0.8352941176) 0%, rgba(53, 198, 106, 0.862745098) 100%);
}

.More_Btn {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: -0.03em;
  color: #d9d9d9;
  border-radius: 83px;
  width: 167px;
  height: 74px;
  background: #121517;
  border: 1px solid #6f7274;
}

.block_Three {
  margin-top: 55px;
  display: flex;
  width: 472px;
  height: 126px;
}

.k_Block {
  width: 126px;
  margin-right: 50px;
}

.k9 {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 62px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: #fff;
}

.Span_plus {
  background: linear-gradient(244deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Premium_Users {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 144%;
  letter-spacing: -0.02em;
  color: #d9d9d9;
}

.Two_block {
  margin-left: 155px;
}

.All_block {
  display: flex;
}

.Two_block {
  width: 450px;
  height: 605px;
}

.Main_imgCoffe {
  width: 100%;
  position: relative;
  z-index: 5;
}

.Plus_block {
  position: relative;
  z-index: 10;
  width: 142px;
  bottom: 650px;
  left: 250px;
}

.Block_wehave_main {
  display: flex;
  justify-content: center;
  margin-bottom: 135px;
}

.Block_wehave {
  position: relative;
  z-index: 8;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-radius: 46px;
  width: 1029px;
  height: 372px;
  background: linear-gradient(230deg, #fff 3.94%, #e5e5e5 64.08%, #fbfbfb 88.62%);
}

.heart_Block {
  width: 226px;
  height: 296px;
  margin-right: 60px;
}

.Tasty {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 163%;
  letter-spacing: -0.02em;
  color: #121517;
}

.P_We_hav {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(18, 21, 23, 0.9);
}

.heart_div {
  display: flex;
  justify-content: center;
}

.rocket {
  position: relative;
  top: 33px;
  right: 22px;
}

.Bloock_Star {
  width: 1200px;
  top: 900px;
  bottom: 50px;
  position: absolute;
  z-index: 9;
}

.line_coffe {
  position: absolute;
  right: 1px;
  top: 400px;
}

.absolut_block {
  display: none;
}

.section_Two {
  margin-bottom: 100px;
}

.Con_block {
  display: flex;
  justify-content: space-between;
}

.WeHere_block {
  position: relative;
  display: flex;
  align-items: center;
  width: 548px;
  height: 755px;
}

.green_img {
  position: relative;
  z-index: 10;
  width: 465px;
  height: 684px;
}

.table_img {
  position: relative;
  top: 20px;
  right: 500px;
  z-index: 11;
  width: 595px;
  height: 814px;
}

.WeHere_Two {
  padding-top: 22px;
  width: 457px;
  height: 661px;
}

.width_H2 {
  width: 100%;
  margin-bottom: 63px;
}

.Only_in_2021 {
  width: 100%;
  margin-bottom: 63px;
}

.img_Video {
  position: relative;
  z-index: 9;
  width: 100%;
  border-radius: 22px;
}

.line_Two {
  position: absolute;
  right: 1px;
  top: 1700px;
  width: 1200px;
  height: 700px;
}

.Stars_IMG {
  position: absolute;
  z-index: 15;
  right: 1px;
  bottom: 550px;
}

.Video_block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_Start {
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 12;
  border-radius: 83px;
  width: 326px;
  height: 75px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 639;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: -0.02em;
  color: #fff;
  background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
}

.launch_img {
  margin-right: 12px;
}

.We_make {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: #fff;
  margin: 0px;
}

.Block_Our_Contacts {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 617px;
}

.Our_Contacts {
  position: relative;
  width: 391px;
  height: 512px;
}

.Telefon_instogram {
  display: flex;
  align-items: center;
  margin-top: 28px;
}

.supercoffee {
  position: relative;
  z-index: 13;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 32px;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.img_insta {
  margin-right: 14px;
}

.Img_Our_Contacts {
  position: relative;
  width: 477px;
  height: 617px;
}

.green_Footer_img {
  position: relative;
  z-index: 9;
  top: 33px;
}

.StarBaks_img {
  position: absolute;
  z-index: 11;
  right: 120px;
  bottom: 15px;
}

.Stars_footer_img {
  position: absolute;
  z-index: 12;
  right: 350px;
  bottom: 420px;
}

.line_Footer {
  position: absolute;
  right: 0px;
  top: 4200px;
  width: 1300px;
}

.footer {
  position: relative;
  z-index: 14;
  background: #0b0c0d;
  width: 100%;
  height: 490px;
}

.section_footer {
  margin-bottom: 50px;
}

.block_UL_logo {
  display: flex;
  padding-top: 60px;
  align-items: stretch;
  margin-bottom: 200px;
}

.StarBucks_footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 37px;
  line-height: 109%;
  letter-spacing: -0.03em;
  background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-right: 107px;
  width: 195px;
  cursor: pointer;
}

.Ul_Main {
  padding: 0px;
  list-style: none;
  margin-top: 0px;
  margin-right: 53px;
  width: 119px;
  height: 88px;
  padding-top: 15px;
}

.Main_li {
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: #bbb3b3;
}

.Buy_li {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: rgba(187, 179, 179, 0.43);
  margin-bottom: 8px;
}

.Arrow_top {
  cursor: pointer;
  border: 1px solid #35C66B;
  border-radius: 29px;
  width: 84px;
  height: 85px;
  background: rgba(255, 0, 0, 0);
  margin-left: 50px;
}

.Telrfon_Instogram {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h3_Telefon {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 26px;
  background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

.instogtam {
  width: 46px;
  height: 46px;
}

.StarBucks_block {
  display: none;
}

.video_block_play {
  opacity: 0;
  visibility: hidden;
}/*# sourceMappingURL=main.css.map */