@media (max-width: 1300px) {
  .Our_Contacts {
    padding-left: 25px;
  }
  .Con_block {
    padding-left: 25px;
  }
  .Bloock_Star {
    width: 100%;
  }
  .All_block {
    padding-left: 25px;
  }
  .block_swiperBottom {
    padding-left: 80px;
  }
  .four_block {
    padding-left: 80px;
  }
  .four_block {
    padding-left: 80px;
  }
  .container {
    width: 100%;
  }
  .StarBucks_Logo {
    padding-left: 25px;
  }
  .block_imgOne {
    padding-left: 80px;
  }
}
@media (max-width: 1200px) {
  .One_block {
    margin-bottom: 0px;
  }
  .Bloock_Star {
    display: none;
  }
  .Two_block {
    margin-left: 0px;
  }
  .mainNew_Cafe {
    font-size: 60px;
  }
  .Main_imgCoffe {
    width: 400px;
  }
  .line_mini {
    width: 550px;
  }
  .Plus_block {
    bottom: 590px;
    left: 210px;
  }
  .block_img06 {
    display: none;
  }
  .ul_block {
    display: none;
  }
  .Block_p_OurNewEvents {
    padding-left: 80px;
  }
}
@media (max-width: 1130px) {
  .line_Footer {
    top: 4400px;
  }
  .One_block {
    width: 510px;
  }
  .k_Block {
    width: 84px;
    height: 79px;
  }
  .Select_btn {
    font-size: 17px;
    width: 223px;
    height: 50px;
  }
  .More_Btn {
    width: 112px;
    height: 50px;
    font-size: 16px;
  }
  .Premium_Users {
    font-size: 13px;
  }
  .k9 {
    font-size: 41px;
  }
  .mainNew_Cafe {
    font-size: 48px;
  }
  .main_p {
    font-size: 20px;
  }
  .H2_Our_New {
    padding-left: 80px;
    font-size: 53px;
  }
  .We_make {
    font-size: 53px;
  }
  .block_OurNewEvents {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
@media (max-width: 1000px) {
  .supercoffee {
    font-size: 21px;
  }
  .line_Footer {
    width: 1000px;
  }
  .img_insta {
    width: 38px;
    height: 38px;
  }
  .line_Two {
    width: 700px;
    height: 500px;
  }
  .WeHere_block {
    width: 350px;
  }
  .WeHere_Two {
    width: 350px;
  }
  .btn_Start {
    font-size: 15px;
    width: 210px;
    height: 50px;
  }
  .Stars_IMG {
    width: 150px;
    height: 150px;
    left: 200px;
  }
  .table_img {
    width: 400px;
    height: 614px;
    right: 320px;
    top: 1px;
  }
  .green_img {
    width: 300px;
    height: 530px;
  }
}
@media (max-width: 950px) {
  .block_time {
    margin: 0px;
    width: 320px;
  }
  .Img_Our_Contacts {
    width: 417px;
    height: 500px;
  }
  .section_footer {
    position: relative;
    width: 100%;
    height: 1100px;
  }
  .line_Footer {
    top: 1px;
    height: 674px;
  }
  .Block_Our_Contacts {
    flex-direction: column-reverse;
    position: relative;
    top: 300px;
  }
  .p_OurNewEvents {
    position: relative;
    z-index: 15;
  }
  .Stars_footer_img {
    width: 150px;
    top: 1px;
    right: 250px;
  }
  .StarBaks_img {
    top: -390px;
    position: relative;
    width: 350px;
    right: -22px;
  }
  .green_Footer_img {
    width: 270px;
    left: 100px;
    top: 55px;
  }
}
@media (max-width: 917px) {
  .heart_Block {
    margin-right: 0px;
  }
  .One_block {
    width: 390px;
  }
}
@media (max-width: 833px) {
  .Plus_block {
    bottom: 500px;
    left: 200px;
  }
  .Main_imgCoffe {
    width: 350px;
  }
}
@media (max-width: 780px) {
  .line_Two {
    top: 1400px;
    width: 900px;
    height: 700px;
  }
  .Con_block {
    flex-direction: column;
  }
  .line_coffe {
    display: none;
  }
  .main_p {
    font-size: 12px;
  }
  .line_mini {
    width: 400px;
  }
  .Main_imgCoffe {
    width: 270px;
  }
  .Plus_block {
    left: 120px;
    bottom: 400px;
  }
}
@media (max-width: 700px) {
  .section_Two {
    margin-bottom: 0px;
    margin-top: 200px;
  }
  .line_Two {
    top: 1800px;
  }
  .absolut_block {
    width: 700px;
    display: block;
    position: absolute;
    z-index: 10;
    bottom: -170px;
    top: -33px;
  }
  .section_slaid01 {
    margin-top: 0px;
  }
  .heart_Block_Many {
    margin-left: 44px;
  }
  .P_We_hav {
    margin-left: 33px;
    width: 111px;
    font-size: 11px;
  }
  .Tasty {
    font-size: 18px;
  }
  .heart {
    width: 85px;
    height: 89px;
  }
  .rocket {
    width: 121px;
    height: 118px;
  }
  .heart_Block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotate(-90deg);
    width: 169px;
    height: 104px;
  }
  .Block_wehave {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 602px;
    height: 218px;
  }
  .Block_wehave_main {
    margin-top: 120px;
    transform: rotate(90deg);
    margin-bottom: 0px;
  }
  .main {
    margin-top: 30px;
  }
  .Two_block {
    padding-left: 50px;
    width: 340px;
    height: 381px;
  }
  .block_Three {
    width: 340px;
  }
  .line_coffe {
    display: none;
  }
  .All_block {
    padding-left: 80px;
    flex-direction: column-reverse;
  }
  .imgSlaid_Kryg02 {
    width: 170px;
    left: 0px;
    top: 110px;
  }
  .imgSlaid02 {
    width: 220px;
    bottom: 110px;
    right: 30px;
  }
  .Fast_p {
    margin: 0px;
  }
  .btn_BuyProduct {
    margin-top: 0px;
    font-size: 11px;
    width: 130px;
    height: 40px;
  }
  .imgSlaid06 {
    bottom: 110px;
  }
  .imgSlaid_Kryg {
    width: 170px;
    right: 0px;
    top: 90px;
  }
  .img_blocl_coffe {
    width: 170px;
  }
  .h2_Fast {
    font-size: 21px;
  }
  .Fast_p {
    font-size: 13px;
  }
  .spanCountre {
    font-size: 21px;
  }
  .spam_ml {
    font-size: 13px;
  }
  .Opisanie_block {
    position: relative;
    bottom: 55px;
    width: 100%;
    height: 164px;
  }
  .block_Cofffe {
    margin-right: 36px;
    width: 183px;
    height: 366px;
  }
  .StarBucks_Logo {
    font-size: 22px;
  }
  .Block_p_OurNewEvents {
    width: 289px;
    margin-right: 0px;
  }
  .p_OurNewEvents {
    font-size: 14px;
    height: 70px;
  }
  .Block_p_OurNewEvents {
    padding-left: 80px;
  }
  .block_imgOne {
    width: 811px;
    height: 147px;
    padding-left: 80px;
  }
  .imgTwoBlock {
    padding-left: 80px;
  }
  .TwoCoffe {
    bottom: 200px;
    width: 167px;
    height: 110px;
    bottom: 140px;
  }
  .btn_More {
    font-size: 16px;
    width: 130px;
    height: 50px;
  }
  .P_TWO_COFFEE {
    font-size: 18px;
    width: 168px;
    margin-bottom: 0px;
  }
  .P_TWO_COFFEE_Two {
    font-size: 18px;
    width: 168px;
    margin-bottom: 0px;
  }
  .top_more {
    margin-top: 24px;
  }
  .P_TWOBottom {
    margin-bottom: 33px;
  }
  .P_TWOINST {
    margin-bottom: 8px;
  }
}
@media (max-width: 500px) {
  .All_block {
    padding-left: 25px;
  }
}/*# sourceMappingURL=media.css.map */